<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.serviceModel>

    <bindings>
      <customBinding>
        <binding name="SoapBinding" closeTimeout="00:30:00" openTimeout="00:30:00" receiveTimeout="00:30:00" sendTimeout="00:30:00">
          <security authenticationMode="UserNameOverTransport">
            <secureConversationBootstrap />
          </security>
          <textMessageEncoding messageVersion="Soap11WSAddressingAugust2004" />
          <httpsTransport maxReceivedMessageSize="655360000" />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="https://webservice.s6.exacttarget.com/Service.asmx" binding="customBinding" bindingConfiguration="SoapBinding" contract="ETService.Soap" name="ExactTarget.Soap" />
    </client>

    <!--<bindings>
            <basicHttpBinding>
                <binding name="SoapBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="SoapBinding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://webservice.s6.exacttarget.com/Service.asmx"
                binding="basicHttpBinding" bindingConfiguration="SoapBinding"
                contract="ETService.Soap" name="Soap" />
        </client>-->
  </system.serviceModel>
</configuration>